<html>
	<head><title>Complete Your Profile for CAL & Associates</title></head>
	<body>
		<h3>Hello {{name}}, </h3>
		<div>
			<p>Thank you for interviewing with Cal & Associates. Please complete your profile using this
				<a href='{{url}}{{code}}'>link</a>
				to stay up to date on your candidacy.
			</p>
			<p>
				The link will expire by
				<b>{{expiry}}</b>. If you need any help throughout the proccess, please contact
				<a href='mailto:admin@cal.com'>admin@cal.com.</a>
			</p>
			<br />
			<p>Best,</p>
			<p>CAL & Associates</p>
			<img src='CalLogo:imgID' alt='Cal & Associates Logo' />
		</div>
	</body>
</html>