<html>
	<head><title>Account on Tempus Deleted</title></head>
	<body>
		<h3>Hello {{name}}, </h3>
		<div>
			<p>
				Your account on Tempus (for CAL & Associated was deleted) by an admin.
			</p>
			<p>
				If you believe this was a mistake, reach out to
				<a href='mailto:admin@cal.com'>admin@cal.com.</a>
			</p>
			<p>Best,</p>
			<p>CAL & Associates</p>
			<img src='cid:CAL-Logo' alt='Cal & Associates Logo' />
		</div>
	</body>
</html>