<html>
	<head><title>Set password for CAL & Associates</title></head>
	<body>
		<h3>Hello {{name}}, </h3>
		<div>
			<p>You have been assigned the role of supervisor for the Tempus Application. Please set your password using
				this
				<a href='{{url}}{{code}}'>link</a>
			</p>
			<p>
				The link will expire by
				<b>{{expiry}}</b>. If you need any help throughout the proccess, please contact
				<a href='mailto:admin@cal.com'>admin@cal.com.</a>
			</p>
			<br />
			<p>Best,</p>
			<p>CAL & Associates</p>
			<img width='80' src='cid:CAL-Logo' alt='Cal & Associates Logo' />
		</div>
	</body>
</html>