<html>
	<head><title>Reset Your Password</title></head>
	<body>
		<h3>Hello {{name}}, </h3>
		<div>
			<p>Please reset your password using
				<a href='{{url}}{{code}}'>this link.</a>
			</p>
			<p>
				The link will expire by
				<b>{{expiry}}</b>. If you need any help throughout the proccess, please contact
				<a href='mailto:admin@cal.com'>admin@cal.com.</a>
			</p>
			<p>
				If you did not request to reset your password, ignore this message.
			</p>
			<br />
			<p>Best,</p>
			<p>CAL & Associates</p>
			<img src='cid:CAL-Logo' alt='Cal & Associates Logo' />
		</div>
	</body>
</html>