<div style="text-align: center">
  <section class="mat-typography">
    <div>
      <p>Search Primary</p>
      <tempus-search-box cssClass="primary" placeholder="example"></tempus-search-box>

      <div style="background-color: #84898d; padding: 5px">
        <p>Search Secondary</p>
        <tempus-search-box cssClass="secondary" placeholder="example"></tempus-search-box>
      </div>
    </div>
    <div>
      <p>Text Area Primary</p>
      <tempus-text-area cssClass="primary" placeholder="example"></tempus-text-area>

      <div style="background-color: #84898d; padding: 5px">
        <p>Text Area Secondary</p>
        <tempus-text-area cssClass="secondary" placeholder="example"></tempus-text-area>
      </div>
    </div>
    <div>
      <p>Input Primary</p>
      <tempus-text-input cssClass="primary" placeholder="example"> help</tempus-text-input>
      <div style="background-color: #84898d; padding: 5px">
        <p>Input Secondary</p>
        <tempus-text-input cssClass="secondary" placeholder="example"> help</tempus-text-input>
      </div>
    </div>
    <div>
      <p>Dropdown Primary</p>
      <tempus-dropdown label="example" cssClass="primary"></tempus-dropdown>
      <div style="background-color: #84898d; padding: 5px">
        <p>Dropdown Secondary</p>
        <tempus-dropdown label="example" cssClass="secondary"></tempus-dropdown>
      </div>
    </div>
    <div style="padding-bottom: 20px;"></div>



    <div style="background-color: #84898d; padding: 5px;">
      <tempus-file-upload></tempus-file-upload>
    </div>
    <h1>Welcome to tempus!</h1>
    <img width="450" src="https://raw.githubusercontent.com/nrwl/nx/master/images/nx-logo.png"
      alt="Nx - Smart, Fast and Extensible Build System" />
  </section>
</div>
<div>Message: {{ hello$ | async | json }}</div>