<html>
  <head><title>Complete Your Application for CAL & Associates</title></head>
  <body>
    <h1>Hi {{name}}, </h1>
    <p>
      <p>Please complete your application for CAL & Associates using the link below.</p>
      <a href='https://signuplink/{{code}}'>Sign Up Link</a>
      <p>Best,</p>
      <p>CAL & Associates</p>
    </p>
  </body>
</html>