<mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
        <tempus-card>
            <mat-card-content>
              <form>
                <h1 class="card-header mat-h1" color="primary">Sign In</h1>
                <tempus-text-input placeholder="Username" cssClass="secondary"></tempus-text-input>
                <tempus-text-input placeholder="Password" cssClass="secondary"></tempus-text-input>
                <div class="login-button">
                    <button mat-raised-button color="accent" >Login</button>
                </div>
                <p class="mat-body-2"><a  href="https://www.w3schools.com/">Forgot your password?</a></p>
              </form>
            </mat-card-content>
        </tempus-card>
    </mat-grid-tile>
</mat-grid-list>
